@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #3498DB;
  --wallpaper: url('./img/wallpaper.jpeg');
  --task-bar-background: #000;
  --wallpaper-solid: #212F3D;
  --font-color: #fff;
  --task-bar-search-background: #566573;
  --task-bar-search-color: #D0D3D4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.filter-invert {
  filter: invert(1);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.main {
  height: 100vh;
  background-color: var(wallpaper-solid);
}

.container {
  height: 90%;
  background-color: var(--wallpaper-solid);
  display: grid;
  grid-template-columns: 80px repeat(10, 1fr);
  grid-template-rows: 80px repeat(10, 1fr);
}

.project {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: .3s all;
}

.project:hover {
  padding: 7px;
}

.project-img {
  width: 80%;
  height: 80%;
}

.project-name {
  margin-top: 5px;
  height: 20%;
  color: var(--font-color);
}

.task-bar {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: var(--task-bar-background);
}

.task-bar-links {
  width: 70%;
  display: flex;
}

.task-bar-logo {
  width: 5%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-bar-search {
  width: 35%;
  display: flex;
  background-color: var(--task-bar-search-background);
}

.task-bar-search-icon {
  width: 15%;
  padding: 13px;
}

.circle {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
}

.task-bar-search-input {
  width: 71%;
}

.task-bar-search-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 18px;
  background-color: var(--task-bar-search-background);
  color: var(--font-color);
}

::placeholder {
  color: var(--task-bar-search-color);
}

.task-bar-search-mic_icon {
  width: 14%;
  padding: 12px;
}

.task-bar-tools {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
}

.task-bar-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--font-color);
}

.task-bar-favorite_list {
  width: 60%;
}

.task-bar-favorite_list-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  height: 100%;
  padding: 10px;
  transition: .2s all;
}

.task-bar-favorite_list-project:hover {
  border-bottom: 2px solid var(--primary-color);
  background: rgba(255,255,255,0.5);
  padding-bottom: 8px;
}

.task-bar-notifications {
  width: 10%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}