/* estilização - contacts */
.contactContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact p {
    font-size: 18px;
    font-weight: normal;
}

.contact img {
    width: 50px;
}

/* estilização - email */
.emailMessage {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.emailMessage p {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.line {
    border: 5px solid var(--orange);
    text-align: center;
    border-width: 1px;
    height: 250px;
}

/* adaptação com temas */
html[data-theme="light"] .contact img {
    filter: invert(1);
}


/* responsividade */
@media screen and (max-width:528px) {
    .contactContainer {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding-top: 175px;
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: row;
        width: 100%;
    }

    .contact {
        flex-direction: column;
        height: 100px;
    }

    .line {
        display: none;
    }

    .emailMessage {
        width: 100%;
    }

    .emailMessage > input {
        width: 100%;
    }
}