.Switcher {
    position: fixed;
    top: 80px;
    right: 2%;
    width: 250px;
    border: 2px solid #1d1d1d;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;
    color: #fff;
}

.Switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.Switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(var(--bg), #2b2b2b);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #161616;

}

.Slider:before {
    border-radius: 50%;
}
  
.Slider:not(:checked)::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url('./assets/lua.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

input:checked + .Slider {
    background-image: linear-gradient(#2196f3, #ccc);
}

input:focus + .Slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url('./assets/sol.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}