@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

/* estilização - Content */
.Content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/* estilização - BackgroundText */
.BackgroundText {
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1em, 1em + 13vw, 19em);
    text-align: center;
    z-index: -1;
}

/* adaptação com temas */
html[data-theme="light"] .BackgroundText {
    opacity: 0.04;
}

html[data-theme="dark"] .BackgroundText {
    opacity: 0.02;
}

/* responsividade - BackgroundText*/
@media screen and (max-width:528px) {
    .BackgroundText {
        display: none;
    }
}