.BlurContainer {
    width: 100%;
    height: 350px;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    z-index: 999;
    padding: 5%;
    gap: 5%;
    align-items: center;
}

.BlurContainer > img {
    width: 20%;
}

.BlurContainer p {
    text-align: justify;
    font-size: 1.9em;
    font-weight:200;
}

html[data-theme="dark"] .BlurContainer p {
    color: #fff;
}

html[data-theme="light"] .BlurContainer p {
    color: #000;
}

.BlurContainer span {
    font-weight: 400;
}

html[data-theme="dark"] .BlurContainer span {
    color: var(--orange);
}

html[data-theme="light"] .BlurContainer span {
    color: #fff;
}

/* responsividade */
@media screen and (min-width: 428px) {
    .BlurContainer {
        flex-direction: column;
    }

    .BlurContainer > img {
        width: 100%;
    }
}