.BlurContainer {
    width: 100%;
    height: 350px;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    z-index: 999;
    padding: 5%;
    gap: 5%;
    align-items: center;
    z-index: -1;
}

.BlurContainer > img {
    width: 20%;
    background-image: linear-gradient(45deg, var(--orange), var(--light-orange));
    border-radius: 50%;
    padding: 1px;
}

.BlurContainer p {
    text-align: justify;
    font-size: 1em;
    font-weight:200;
}

html[data-theme="dark"] .BlurContainer p {
    color: #fff;
}

html[data-theme="light"] .BlurContainer p {
    color: #000;
}

.BlurContainer span {
    font-weight: 400;
}

html[data-theme="dark"] .BlurContainer span {
    color: var(--orange);
}

html[data-theme="light"] .BlurContainer span {
    color: #fff;
}

/* responsividade */
@media screen and (max-width:528px) {
    .BlurContainer {
        flex-direction: column;
        gap: 50px;
        height: auto;
    }

    .BlurContainer > img {
        width: 50%;
    }

    .BlurContainer p {
        text-align: center;
        font-size: 24px;
    }
}