/* Estilização - Content */
.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    z-index: -1;
    padding: 175px 2% 0px 2%;
    gap: 100px;
}

/* Responsividade */
@media screen and (max-width:528px) {
    .Content {
        padding-top: 90px;
        gap: 20px;
    }
}