@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #FF5C00;
  --light-orange: #FF9E68;
  --bg: #080809;
  --ice: #EAF4FF;
  --grey: #646464;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}

.mainContainer {
  position: absolute;
  margin-top: 70px;
  height: 87vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 2%;
  flex-direction: column;
  z-index: -1;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.title-container p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

.title-container span {
  font-family: "Anton", sans-serif;
  font-size: 4em;
}

.span1 {
  color: #fff;
}

.span2 {
  color: var(--orange);
}

hr {
  width: 200px;
  align-self: center;
  margin-bottom: 10px;
  border-color: var(--orange);
}