@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #FF5C00;
  --light-orange: #FF9E68;
  --bg: #080809;
  --ice: #EAF4FF;
  --grey: #646464;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: .2s ease-in-out;
}

/* barra de rolagem completa */
*::-webkit-scrollbar {
  width: 10px;
}

/* polegar */
*::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* fundo da barra */
*::-webkit-scrollbar-track {
  background-color: #1D1D1D;
  border-radius: 10px;
}

main {
  height: 100vh;
}

/* Estilizando temas */
html[data-theme="light"] body {
  background-color: var(--ice);
}

html[data-theme="dark"] body {
  background-color: var(--bg);
}

/* Spans do Title */

html[data-theme="light"] .span1 {
  color: #000;
}

html[data-theme="light"] .span2 {
  color: var(--orange);
}

html[data-theme="dark"] .span1 {
  color: #fff;
}

html[data-theme="dark"] .span2 {
  color: var(--orange);
}

/* Elementos p */
html[data-theme="light"] p {
  color: #000;
}

html[data-theme="dark"] p {
  color: #fff;
}

/* Elemetos h1 */
html[data-theme="dark"] h1 {
  color: #fff;
}

html[data-theme="light"] h1 {
  color: #000;
}